div{

    background-color: bisque;
    width: 50%;
    text-size-adjust: height;
    margin: 20px 0;
    padding: 0px;
    text-align: justify;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;

}

body{

    font-size:larger;


}

